<app-modal title="{{'update-laboratory.edit_address'|translate}}" [isVisible]="isVisible" ConfirmationLabel="{{'update-laboratory.save'|translate}}" (closeMeEvent)="closeMe()" (confirmEvent)="confirm()" >
   <div class="px-10  montserrat-semibold">
  <form [formGroup]="adresseForm" class="w-full max-w-lg ml-4 grid grid-cols-2 gap-6">
   <!-- Row 1: Rue and Code Postal -->
   <div class="mb-6">
     <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-rue">
       {{'add-laboratory.rue' | translate}}
     </label>
     <input
       formControlName="rue"
       class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white peer min-h-[auto] focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary bg-slate-100"
       id="grid-rue"
       type="text"
       placeholder="{{'add-laboratory.enter_rue' | translate}}"
     />
     <p *ngIf="adresseForm.get('rue')?.invalid && (adresseForm.get('rue')?.dirty || adresseForm.get('rue')?.touched)" class="pl-2 mt-2 text-xs text-red-600">
       {{'add-laboratory.required' | translate}}
     </p>
   </div>

   <div class="mb-6">
     <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-codePostal">
       {{'add-laboratory.code_postal' | translate}}
     </label>
     <input
       formControlName="codePostal"
       class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white peer min-h-[auto] focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary bg-slate-100"
       id="grid-codePostal"
       type="text"
       placeholder="{{'add-laboratory.enter_code_postal' | translate}}"
     />
     <p *ngIf="adresseForm.get('codePostal')?.invalid && (adresseForm.get('codePostal')?.dirty || adresseForm.get('codePostal')?.touched)" class="pl-2 mt-2 text-xs text-red-600">
       {{'add-laboratory.required' | translate}}
     </p>
   </div>

   <!-- Row 2: Commune and Ville -->
   <div class="mb-6">
     <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-commune">
       {{'add-laboratory.commune' | translate}}

     </label>
     <input
       formControlName="commune"
       class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white peer min-h-[auto] focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary bg-slate-100"
       id="grid-commune"
       type="text"
       placeholder="{{'add-laboratory.enter_commune' | translate}}"
     />
     <p *ngIf="adresseForm.get('commune')?.invalid && (adresseForm.get('commune')?.dirty || adresseForm.get('commune')?.touched)" class="pl-2 mt-2 text-xs text-red-600">
       {{'add-laboratory.required' | translate}}
     </p>
   </div>

   <div class="mb-6">
     <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-ville">
       {{'add-laboratory.ville' | translate}}
     </label>
     <input
       formControlName="ville"
       class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white peer min-h-[auto] focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary bg-slate-100"
       id="grid-ville"
       type="text"
       placeholder="{{'add-laboratory.enter_ville' | translate}}"
     />
     <p *ngIf="adresseForm.get('ville')?.invalid && (adresseForm.get('ville')?.dirty || adresseForm.get('ville')?.touched)" class="pl-2 mt-2 text-xs text-red-600">
       {{'add-laboratory.required' | translate}}
     </p>
   </div>
 </form>
</div>
</app-modal>