<app-update-modal [item]="selected_item" [isVisible]="updateModal" (closeMeEvent)="updateModal=false" (confirmEvent)="OnUpdate($event)"></app-update-modal>
<app-delete-modal [item]="selected_item" [isVisible]="deleteModal" (closeMeEvent)="deleteModal=false" (confirmEvent)="OnDelete($event)"></app-delete-modal>

<div class="h-full flex-col space-y-4 justify-center items-center animate__fadeIn animate__animated ">
  <!-- <app-actions-table (OnSearch)="OnSearch($event)"  [exporter]="false" (SelectedEvent)="HandleSelectedActions($event)" />-->
   <div class="rounded-3xl bg-white">
 
   <div class="mt-10 font-chillax flex flex-wrap p-2  animate__fadeIn animate__animated ">
     <ng-container *ngIf="laboratories.length>0">
       <!-- *ngIf="!(isLoading$ | async)"-->
       <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
         <ng-container *ngFor="let laboratory of laboratories">
           <p-card class="font-chillax animate__fadeIn animate__animated rounded-3xl m-4 w-72 overflow-hidden shadow-xl">
             <!-- Card Header -->
             <ng-template pTemplate="header">
               <img
                 *ngIf="laboratory.logo"
                 [src]="'data:image/png;base64,' + laboratory.logo"
                 class="h-36 w-full object-cover"
                 alt="Logo du laboratoire"
               />
               <img
                 *ngIf="!laboratory.logo"
                 src="assets/Lab.jpg"
                 class="h-36 w-full object-cover"
                 alt="Default Lab Image"
               />
             </ng-template>
       
             <!-- Card Content -->
             <div class="grid grid-cols-3 p-2 h-52">

                   <!-- Name -->
             <p class="flex col-span-3 items-center mt-4">
               <i class="pi pi-building" style="font-size: 1rem"></i>
                     <span class="ml-2 text-xs">LABORATOIRE : </span>
                      <span class="ml-4 text-[14px] font-semibold">{{ laboratory.nom || '--' }}</span>
                   </p>
           
               <!-- NRC -->
               <p class="flex col-span-3 items-center mt-4">
                 <i class="pi pi-id-card" style="font-size: 1rem"></i>
                 <span class="ml-2 text-xs">NRC: </span>
                 <span class="ml-4 mr-4 text-[14px] font-semibold truncate">{{ laboratory.nrc || '--' }}</span>
                 <p-tag  severity="warning" *ngIf="!laboratory.active" value="Inactive" [rounded]="true" />


               </p>
       
           
               <!-- Activation Date -->
               <p  *ngIf="laboratory.dateActivation" class="flex col-span-3 items-center mt-4">
                <i class="pi pi-calendar-plus" style="font-size: 1rem"></i>
                 <span class="ml-2 text-xs">DATE D'ACTIVATION: </span>
                 <span class="ml-4 text-[14px] font-semibold">
                   {{ laboratory.dateActivation | date: 'dd-MM-yyyy' }}
                 </span>
               </p>
               <p class="flex col-span-3 items-center mt-4">
                <i class="pi pi-map-marker" style="font-size: 1rem"></i>
                
                <span class="ml-2 text-xs">ADRESSE: </span>
                <span class="ml-4 text-[14px] font-semibold">
                  {{ laboratory.rue}}, {{ laboratory.ville}}
                </span>
              </p>
             </div>
       
             <!-- Card Footer -->
             <ng-template pTemplate="footer">
               <div class="flex justify-end  align-middle gap-1 mt-1">
                   <span>Voir les détails </span> <i class="pi  pi-angle-double-right mt-1" style="font-size: 1rem"></i>
                  
               </div>
             </ng-template>
           </p-card>
         </ng-container>
       </div>
       
       </ng-container> 
 
     <ng-container *ngIf="laboratories.length == 0">
     <div class="text-center p-6 w-full bg-white rounded-3xl">
         <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
           <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
         </svg>
         <h3 class="mt-2 text-sm font-medium text-gray-900">no laboratory</h3>
         <p class="mt-1 text-sm text-gray-500">create new</p>
         <div class="mt-6">
           <a type="button" routerLink="/dashboard/Laboratories/Add-laboratory" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-primary hover:bg-primary/70 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-gray-200">
             <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
               <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
             </svg>
             new laboratory
           </a>
         </div>
       </div>
     </ng-container>
    <ng-container *ngIf="isLoading$">
       <div *ngFor="let i of [1,1,1,1,1,1,1]" class="font-chillax rounded-3xl m-4 w-80 overflow-hidden shadow-xl animate-pulse">
         <div class="h-36 bg-gray-300"></div>
         <div class="grid grid-cols-3 p-2">
           <div class="flex col-span-3 items-center mt-4">
             <div class="w-8 h-8 bg-gray-300 rounded-full"></div>
             <span class="ml-4 text-xs w-24 h-4 bg-gray-300 rounded"></span>
           </div>
           <div class="col-span-3 flex items-center mt-4">
             <div class="w-8 h-8 bg-gray-300 rounded-full"></div>
             <span class="ml-4 text-xs w-24 h-4 bg-gray-300 rounded"></span>
           </div>
           <div class="flex col-span-3 items-center mt-4">
             <div class="w-8 h-8 bg-gray-300 rounded-full"></div>
             <span class="ml-4 text-xs w-24 h-4 bg-gray-300 rounded"></span>
           </div>
         </div>
         <div class="flex justify-end gap-1 mt-1 p-2">
           <div class="w-24 h-8 bg-gray-300 rounded-3xl"></div>
         </div>
       </div>
     </ng-container>
   </div>
    <!-- <p-paginator
     (onPageChange)="onPageChange($event)"
     [first]="(Pagination$ | async)?.current_page * (Pagination$ | async)?.per_page"
     [rows]="(Pagination$ | async)?.per_page"
     [totalRecords]="(Pagination$ | async)?.total"
   />
   </div>-->
</div>