<ng-container *ngIf="isLoading">
    <!--<app-progress-bar styles="animate__animated animate__fadeIn"/>-->
  </ng-container>
  <!-- actions filter & exporting  -->
  <!-- end -->
  <div class="rounded-3xl bg-white">
    
    <p-table
      styleClass="mt-6 rounded-2xl text-[15px]  font-DMsans overflow-hidden "
      [value]="contacts"
      [(selection)]="selectedContacts"
      dataKey="code"
    >
      <ng-template pTemplate="header">
        <tr class="bg-secondary-color">
          <th>Laboratoire</th>
          <th  class="truncate">Numéro du telephone</th>
          <th  class="truncate" >Fax</th>
          <th  class="truncate" >Email</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.code }}</td>
          <td>{{ item.spaces?.length }}</td>
          <td>{{ item.clients?.length }}</td>

          <td>
          <div
          *ngIf="item.is_reportable"
          class="ml-4 text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-green-200 text-green-700 rounded-full"
          >
            Oui
          </div>
          <div
          *ngIf="!item.is_reportable"
            class="ml-4 text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-orange-200 text-orange-700 rounded-full"
          >
            Non
          </div>
          </td>
          <td>{{ item.created_at | date}}</td>
          <td  class=" flex justify-center items-center w-3/4 hover:color-primary hover:underline cursor-pointer">


            <button class=" h-14 w-9 object-contain">
              <img
              [routerLink]="['/occupations/show', item.id]"
                class="icon hover:scale-125 duration-200"
                src="assets/icons/svg/actions/open.svg"
                alt="Open"
                title="Open"
              />
            </button>
            <!--<button class=" h-14 w-9 object-contain">
              <img
                class="icon hover:scale-125 duration-200"
                src="assets/icons/svg/actions/edit.svg"
                (click)="showEditModal(item)"
                alt="Edit" 
                title="Edit"
              />
            </button>

            <button class=" h-14 w-9 object-contain">
              <img
                class="icon hover:scale-125 duration-200"
                src="assets/icons/svg/actions/delete.svg"
                alt="Delete"
                (click)="DeleteShow(item)"
                title="Delete"
              />
            </button>

            <button class=" h-14 w-9 object-contain">
              <img
                class="icon hover:scale-125 duration-200"
                src="assets/icons/svg/archive.svg"
                alt="Delete"
                (click)="Archive(item)"
                title="Delete"
              />
            </button>-->

          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="13">empty table</td>
        </tr>
      </ng-template>
    </p-table>
   <!--<p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="occupations?.current_page * occupations?.per_page"
        [rows]="occupations?.per_page"
        [totalRecords]="occupations?.total"
      />--> 
  </div>
