
<div>
    <nav aria-label="Progress">
        <ol role="list" class="overflow-hidden">
          <li  class="relative flex flex-col justify-center pb-10">
            <div
            [ngClass]="{
              'absolute top-4 left-5': currentLang != 'ar',
              'absolute top-4 right-5': currentLang === 'ar',
              'bg-primary w-0.5 h-full': step == 1,
            }"
            
            aria-hidden="true"></div>  
    
            <a class="relative flex items-start group">
                 <span [ngClass]="step >= 1 ? 'border-primary' :'border-gray-400' " class="h-10 bg-white border-2  rounded-full px-0.5 outline-2 flex items-center" aria-hidden="true">
                    <span  [ngClass]="step >= 1 ? 'bg-primary' :'bg-gray-500' " class="relative z-10 w-8 h-8 flex items-center justify-center  rounded-full">
                        <i class="pi pi-user
                        text-white" style="font-size: 1rem"></i>
                      </span>
                  </span>
              <span class="px-4 min-w-0 flex flex-col">
                    <span [ngClass]="step >= 1 ? 'text-black' :'text-gray-400' " class="text-md font-medium truncate max-md:hidden ">{{'user.personnal_information' | translate}}</span>
                  </span>
            </a>
          </li>
    

    
          <li class="relative pb-10">
            <a class="relative flex items-start group">
                 <span [ngClass]="step >= 2 ? 'border-primary' :'border-gray-400' " class="h-10 bg-white border-2  rounded-full px-0.5 outline-2 flex items-center" aria-hidden="true">
                    <span  [ngClass]="step >= 2 ? 'bg-primary' :'bg-gray-500' " class="relative z-10 w-8 h-8 flex items-center justify-center  rounded-full">
                      <i class="pi pi-image
                      text-white" style="font-size: 1rem"></i>
                    </span>
                  </span>
              <span class="px-4 min-w-0 flex flex-col">
                    <span [ngClass]="step >= 2 ? 'text-black' :'text-gray-400' " class="text-md font-medium truncate max-md:hidden">{{'user.personnal_image' | translate}}</span>
                  </span>
            </a>
          </li>
    
        </ol>
      </nav>
    
    
    