
<div class="w-full flex h-svh min-h-svh font-normal   text-[16px] " [class]="'font'|translate"  [dir]="'dir' | translate">

    <div class="hidden h-full flex-[0.4] lg:flex-[0.2] shadow-lg rounded-md border-2  md:block">
        <app-sidebar></app-sidebar>
    </div>

    <div class="flex h-full flex-1 flex-col bg-slate-100">
        <!-- Main Content Area-->
        <div class="flex h-full flex-col  overflow-y-scroll">
         <div class="flex z-10 sticky top-0 w-full ">
          <!-- Header -->
          <div class="mx-auto w-full z-10">
            <app-navbar></app-navbar>
          </div>
         </div>
    
         <div class="p-16 h-full  animate__fadeIn animate__animated ">
          <!-- Content -->
            <ng-content> </ng-content>
         </div>
    
         <!--<div class="w-full">
           Footer
          <div class="bg-secondary py-12">
           <h1 class="text-center  ">Footer</h1>
          </div>
         </div>
        </div> -->
    
       <!-- <div class="sticky top-0 block bg-secondary py-5 md:hidden">
         <h1 class="text-center ">Bottom Navigation</h1>
        </div>
       </div>-->

      
       </div>
    