<div class="flex-col h-full  p-2   text-[12px] ">
  <div class="flex items-center gap-4 p-4 mb-2">
    <img src="" alt="brand" class="w-8 h-8" />
    <h5 class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
      Sidebar
    </h5>
  </div>
        <div class="flex-col p-x-1 space-y-4 text-gray-700 h-full my-44 ">
         


         

          <ng-container *ngFor="let route of sidebar_elements; index as i" >

            <ng-container *ngIf="route.item!==item" >
            <a   class="flex pl-4  space-x-2 items-center hover:py-2 rounded-md hover:bg-neutral  group"  [routerLink]='route.route_path' (click)="clicked(i)" ><div>


              <img *ngIf="route?.svg_dark" [src]="route?.svg_dark"
                     class="relative z-10 mr-3 text-teal-400 -amber-400 flex-shrink-0 group-hover:hidden" alt=""
                     height="20" width="20">
              <img *ngIf="route?.svg_light" [src]="route?.svg_light"
                     class="relative z-10 mr-3 text-teal-400 -amber-400 flex-shrink-0 group-hover:transition-opacity group-hover:flex hidden " alt=""
                     height="20" width="20">
                
            </div><div class=" text-gray-900 group-hover:text-white ">{{route.label}}</div></a>
          </ng-container>


          <ng-container *ngIf="route.item===item" >
            <a   class="flex pl-4  space-x-2 items-center py-2 rounded-md bg-gray-200 shadow-sm "  [routerLink]='route.route_path' (click)="clicked(i)" ><div>

              <img *ngIf="route?.svg_dark" [src]="route?.svg_dark"
              class="relative z-10 mr-3 text-teal-400 -amber-400 flex-shrink-0 group-hover:hidden" alt=""
              height="20" width="20">
                
            </div><div class=" text-gray-900">{{route.label}}</div></a>
          </ng-container>
          
          </ng-container>



        </div>

</div>