<div class="flex-col h-full  p-2   text-[13px] ">
  <div class="flex items-center gap-4 p-4 mb-2">
    <img src="" alt="brand" class="w-8 h-8" />
    <h5 class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
      Sidebar
    </h5>
  </div>
        <div class="flex-col space-y-2 text-gray-700 my-44">
         


         

          <ng-container *ngFor="let route of sidebar_elements;"  >

            <a   class=" relative flex pl-4  space-x-4 items-center py-2 rounded-md hover:bg-primary   group  #itemEl"  
            [routerLink]='route.route_path' routerLinkActive="active"
            (click)="route.isOpen=!route.isOpen" 
             >
            
            <div class="text-gray-500 group-hover:text-white "><i [class]="route.icon" ></i></div>
            <div class=" text-gray-600 group-hover:text-white " >{{route.label}}</div>      
            <div class="absolute  right-4 group-hover:text-white text-gray-400 " *ngIf="route.childs.length > 0 && !route.isOpen">
              <i class="pi pi-angle-up" ></i>
            </div>
            <div class="absolute  right-4 group-hover:text-white text-gray-400" *ngIf="route.childs.length > 0 && route.isOpen ">
              <i class="pi pi-angle-down" ></i>
            </div>



           

          </a>

            
            <div *ngIf="route.isOpen" class="pl-8">
              <div class="flex-col p-x-1 divide-y">
              <ng-container *ngFor="let child of route.childs">
                <a class="flex items-center pl-4 space-x-2 py-2 hover:rounded-md hover:bg-primary group"
                   [routerLink]="child.route_path" 
                   routerLinkActive="active_child"
                   >
                   
                  <div class="text-gray-700 group-hover:text-white">{{ child.label }}</div>
                </a>
              </ng-container>
            </div>
            </div>
          
          </ng-container>



        </div>

        <button (click)="logout()" class="flex space-x-2 bg-primary p-2 rounded-md items-center text-white hover:shadow-md hover:pl-3">
          <div>Logout</div> <i class="pi pi-sign-out "></i>
        </button>
        

</div>