<app-modal title="Modifier l'adresse" [isVisible]="isVisible" ConfirmationLabel="Sauvegarder" (closeMeEvent)="closeMe()" (confirmEvent)="confirm()" >
   
    <form [formGroup]="adresseForm" >
      
        <div class="grid grid-cols-3 grid-rows-3 gap-4 text-sm p-8 h-72 ">
          <div class="col-span-2">
            <div class="relative " >
              <input
                type="text"
                class="peer block min-h-[auto] w-full  rounded bg-secondary border-[1.5px]   focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                id="region"
                formControlName="region"
                placeholder="Entre la région" />
              <label
                for="region"
                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6]  transition-all duration-200 ease-out peer-focus:-translate-y-[1.6rem] peer-focus:scale-[0.8] peer-focus:text-primary   motion-reduce:transition-none "
                [class]="adresseForm?.get('region').value
                ? '-translate-y-[1.6rem] scale-[0.8]  '
                : 'border-gray-300'
            "
                >Région</label>

                <p *ngIf="adresseForm.get('region')?.invalid && (adresseForm.get('region')?.dirty || adresseForm.get('region')?.touched)"
                class="pl-2 mt-2 text-xs text-red-600">
               <span class="font-medium">*</span> champs requis  
             </p>
               
              </div></div>


          <div class="col-start-3"> <div class="relative " >
            <input
              type="text"
              class="peer block min-h-[auto] w-full rounded bg-secondary  border-[1.5px]   focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
              id="city"
              formControlName="city"
              placeholder="Entre la ville" />
            <label
              for="city"
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6]  transition-all duration-200 ease-out peer-focus:-translate-y-[1.6rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none "
              [class]="adresseForm?.get('city').value
                ? '-translate-y-[1.6rem] scale-[0.8]  '
                : 'border-gray-300'
            "
              >Ville</label>

              <p *ngIf="adresseForm.get('city')?.invalid && (adresseForm.get('city')?.dirty || adresseForm.get('city')?.touched)"
                class="pl-2 mt-2 text-xs text-red-600">
               <span class="font-medium">*</span> champs requis  
             </p>
            </div></div>


         
          <div class="col-span-3 row-start-2">  <div class="relative " >
            <input
              type="text"
              class="peer block min-h-[auto] w-[90%] rounded bg-secondary border-[1.5px]   focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
              id="street"
              formControlName="street"
              placeholder="Etre la rue" />
            <label
              for="street"
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6]  transition-all duration-200 ease-out peer-focus:-translate-y-[1.6rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none "
              [class]="adresseForm?.get('street').value
              ? '-translate-y-[1.6rem] scale-[0.8]  '
              : 'border-gray-300'
          "
              >Rue</label>
              <p *ngIf="adresseForm.get('street')?.invalid && (adresseForm.get('street')?.dirty || adresseForm.get('street')?.touched)"
              class="pl-2 mt-2 text-xs text-red-600">
             <span class="font-medium">*</span> champs requis  
           </p>
            </div></div>
           
            <div class=""> <div class="relative " >
              <input
                type="text"
                class="peer block min-h-[auto] w-full rounded bg-secondary border-[1.5px]   focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                id="code"
                formControlName="code"
                placeholder="Enter text" />
              <label
                for="code"
                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6]  transition-all duration-200 ease-out peer-focus:-translate-y-[1.6rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none "
                [class]="adresseForm?.get('code').value
              ? '-translate-y-[1.6rem] scale-[0.8]  '
              : 'border-gray-300'
          "
                >Zip/Code Postal</label>
                <p *ngIf="adresseForm.get('code')?.invalid && (adresseForm.get('code')?.dirty || adresseForm.get('code')?.touched)"
                class="pl-2 mt-2 text-xs text-red-600">
               <span class="font-medium">*</span> champs requis  
             </p>
              </div>
                </div>

      </div>


      <div class="flex justify-end">
     <!-- <button
      type="submit"
      class="bg-primary  text-sm font-medium rounded-sm px-6 py-2  text-white ">
      Sauvegarder
    </button>-->
     </div>
    </form>
</app-modal>