<app-modal title="{{'laboratories.edit_title'|translate}}" [isVisible]="isVisible" ConfirmationLabel="{{'laboratories.save'|translate}}" (closeMeEvent)="closeMe()" (confirmEvent)="confirm()" >
   <div class="p-8 w-[36rem] h-[30rem] overflow-y-auto"> <div class="flex flex-col items-center space-y-4 col-span-1">
        <!--<div class="p-2 bg-slate-100 rounded">
          <img 
            *ngIf="item.logo" 
            [src]="'data:image/png;base64,' + item.logo" 
            alt="Aperçu du logo" 
            class="w-24 h-24 rounded" 
          />
          <button
            type="button"
            class="text-sm px-6 py-2 text-white bg-primary rounded-xl drop-shadow-md mt-4"
            (click)="fileInput.click()"
          >
            <span *ngIf="item.logo">Modifier Logo</span>
            <span *ngIf="!item.logo">Ajouter Logo</span>
          </button>
          <input
            type="file"
            accept="image/*"
            class="hidden"
            id="logo"
            #fileInput
            (change)="onFileSelected($event)"
          />
        </div>-->
      </div>
      <form [formGroup]="buildingForm" class="px-4 flex-col gap-4">
        <!-- NRC Field -->
        <div class="flex gap-4">
          <div class="mb-6 w-1/2">
          <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-nrc">
            {{ 'add-laboratory.nrc' | translate }}
          </label>
          <input
            formControlName="nrc"
            id="grid-nrc"
            type="text"
            placeholder="{{ 'add-laboratory.enter_nrc' | translate }}"
            class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white focus:border-primary px-3 py-2 bg-slate-100"
          />
          <p *ngIf="buildingForm.get('nrc')?.invalid && (buildingForm.get('nrc')?.dirty || buildingForm.get('nrc')?.touched)" class="text-xs text-red-600 mt-2">
            {{ 'add-laboratory.required' | translate }}
          </p>
        </div>
      
        <!-- Name Field -->
        <div class="mb-6 w-1/2">
          <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-nom">
            {{ 'add-laboratory.name' | translate }}
          </label>
          <input
            formControlName="nom"
            id="grid-nom"
            type="text"
            placeholder="{{ 'add-laboratory.enter_name' | translate }}"
            class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white focus:border-primary px-3 py-2 bg-slate-100"
          />
          <p *ngIf="buildingForm.get('nom')?.invalid && (buildingForm.get('nom')?.dirty || buildingForm.get('nom')?.touched)" class="text-xs text-red-600 mt-2">
            {{ 'add-laboratory.required' | translate }}
          </p>
        </div>
      </div>


      <div class="flex gap-4">
          <div class="mb-6 w-1/2">
      
            <label class="flex items-center space-x-2">
              <input type="checkbox" formControlName="active" />
              <span>{{ 'add-laboratory.active' | translate }}</span>
            </label>
          </div>
          <div class="mb-6 w-1/2">
            <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-date">
              {{ 'add-laboratory.activation_date' | translate }}
            </label>
            <input
              formControlName="dateActivation"
              id="grid-date"
              type="date"
              class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white focus:border-primary px-3 py-2 bg-slate-100"
            />
          </div>
        </div>

      
        <!-- Description Field -->
        <div class="col-span-2 mt-6">
          <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-description">
            {{ 'add-laboratory.description' | translate }}
          </label>
          <textarea
            formControlName="description"
            id="grid-description"
            rows="4"
            placeholder="{{ 'add-laboratory.enter_description' | translate }}"
            class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white focus:border-primary px-3 py-2 bg-slate-100"
          ></textarea>
          <p *ngIf="buildingForm.get('description')?.invalid && (buildingForm.get('description')?.dirty || buildingForm.get('description')?.touched)" class="text-xs text-red-600 mt-2">
            {{ 'add-laboratory.required' | translate }}
          </p>
        </div>





        

        <div class="w-full max-w-lg grid grid-cols-2 gap-8 mt-6">
         <div class="">
           <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-numTel">
             {{'add-laboratory.phone_number' | translate}}
           </label>
           <input
             formControlName="numTel"
             class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white peer min-h-[auto] focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary bg-slate-100"
             id="grid-numTel"
             type="text"
             placeholder="{{'add-laboratory.phone_number' | translate}}"
           />
         </div>
         <div class="">
           <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-fax">
             {{'add-laboratory.fax' | translate}}
           </label>
           <input
             formControlName="fax"
             class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white peer min-h-[auto] focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary bg-slate-100"
             id="grid-fax"
             type="text"
             placeholder="{{'add-laboratory.fax' | translate}}"
           />
       </div>


<div class="mb-6 col-span-2">
<label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-email">
 {{'add-laboratory.email' | translate}}
</label>
<input
 formControlName="email"
       class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white peer min-h-[auto] focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary bg-slate-100"
       id="grid-email"
       type="email"
       placeholder="{{'add-laboratory.email' | translate}}"
       />
       </div>
      </div>


     
      <div class="flex gap-4">
        <div class="mb-6 w-1/2">
          <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-rue">
            {{'add-laboratory.rue' | translate}}
          </label>
          <input
            formControlName="rue"
            class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white peer min-h-[auto] focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary bg-slate-100"
            id="grid-rue"
            type="text"
            placeholder="{{'add-laboratory.enter_rue' | translate}}"
          />
          <p *ngIf="buildingForm.get('rue')?.invalid && (buildingForm.get('rue')?.dirty || buildingForm.get('rue')?.touched)" class="pl-2 mt-2 text-xs text-red-600">
            {{'add-laboratory.required' | translate}}
          </p>
        </div>
    
        <div class="mb-6 w-1/2">
          <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-codePostal">
            {{'add-laboratory.code_postal' | translate}}
          </label>
          <input
            formControlName="codePostal"
            class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white peer min-h-[auto] focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary bg-slate-100"
            id="grid-codePostal"
            type="text"
            placeholder="{{'add-laboratory.enter_code_postal' | translate}}"
          />
          <p *ngIf="buildingForm.get('codePostal')?.invalid && (buildingForm.get('codePostal')?.dirty || buildingForm.get('codePostal')?.touched)" class="pl-2 mt-2 text-xs text-red-600">
            {{'add-laboratory.required' | translate}}
          </p>
        </div>


      </div>

     
  
      <!-- Row 2: Commune and Ville -->
      <div class="mb-6">
        <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-commune">
          {{'add-laboratory.commune' | translate}}

        </label>
        <input
          formControlName="commune"
          class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white peer min-h-[auto] focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary bg-slate-100"
          id="grid-commune"
          type="text"
          placeholder="{{'add-laboratory.enter_commune' | translate}}"
        />
        <p *ngIf="buildingForm.get('commune')?.invalid && (buildingForm.get('commune')?.dirty || buildingForm.get('commune')?.touched)" class="pl-2 mt-2 text-xs text-red-600">
          {{'add-laboratory.required' | translate}}
        </p>
      </div>
  
      <div class="mb-6">
        <label class="block tracking-wide text-gray-700 font-[300] mb-2 text-sm" for="grid-ville">
          {{'add-laboratory.ville' | translate}}
        </label>
        <input
          formControlName="ville"
          class="appearance-none block w-full text-gray-700 font-[200] border border-gray-200 rounded focus:outline-none focus:bg-white peer min-h-[auto] focus:border-[1.5px] focus:border-primary px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary bg-slate-100"
          id="grid-ville"
          type="text"
          placeholder="{{'add-laboratory.enter_ville' | translate}}"
        />
        <p *ngIf="buildingForm.get('ville')?.invalid && (buildingForm.get('ville')?.dirty || buildingForm.get('ville')?.touched)" class="pl-2 mt-2 text-xs text-red-600">
          {{'add-laboratory.required' | translate}}
        </p>
      </div>
      
      

    
    
    </form>
    </div>
</app-modal>