<div class="h-full flex-col space-y-4 justify-center items-center animate__fadeIn animate__animated ">
<div>
    <h1 class="text-3xl poppins-medium text-gray-600">Adresses</h1>
</div>
<div class="grid lg:grid-cols-2 gap-4 grid-rows-2  ">
   <div class="bg-white   rounded-lg h-28 p-4 shadow-sm border-2 flex-col">
   
            <div class="p-2 text-sm poppins-light">Ajouter une adresse</div>
   </div>
   <div class="bg-white rounded-lg h-28 p-4 border-2   shadow-sm">
    <div class="p-2 text-sm poppins-light">Liste des adresses</div>

   </div>

</div>




</div>

